#frount_page{
    background-image: url("../static/img/th.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
        filter: brightness(80%);
        margin: 5%;
}
.heading{ 
    padding-top:15%;
    color: white;
    font-size: 100px;
    text-align: center;
}
body{
    background-color: rgb(29, 28, 28);
}