body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-content{
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.hero-content nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    border: 30%;
    background-color: lightseagreen;
}

.hero-content nav .brand{
    font-size: 1.7rem;
    font-weight: bold;
}

.hero-content nav ul li{
    display: inline-block;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.hero-content nav ul li a{
    color: #fff;
    text-decoration: none;
}

.hero-content nav ul li a:hover{
    color: black;
    transition: .5s;
}

.hero-content nav button{
    width: 150px;
    padding: 8px 0;
  
    border-radius: 0;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.hero-content .content{
   position: relative;
    left: 50%;
    top: 20%;
    padding-left: 10%;
    transform: translate(-50%,-50%);
    bottom: 30%;
}

.hero-content .content h2{
    margin: 10px 0;
    font-size: 2.3rem;
    font-weight: bold;
}

.hero-content .content h3{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.login
{
    border-radius: 10px;
}

.footer {
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    color: black;
  }
  
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .content{
    padding-top: 30%;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px;
    width: 100px;
  }
  .nav-item a:hover{
border-bottom: 2px solid white;
  }